@import "tailwindcss";
@tailwind utilities;
/* @import "tailwindcss"; */

@layer utilities {
  /* Custom Breakpoint for 542px */
  @media (max-width: 542px) {
    .custom-left { left: 20%;
    width: 60%; }
    .custom-width {width: 100%;
                  margin-inline: auto;}
    .custom-box   {padding-left: 7px;
                  padding-right: 7px;
                  margin-top: 4px;}
      .WrapNavAndSearch-style {position: sticky;
      top: 0px;}            
   }
}
